RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^siakad\.itb-mesuji\.ac\.id$
RewriteRule ^/?$ "https\:\/\/siakad\.itb-mesuji\.ac\.id\/" [R=301,L]